/app/database/DenisG-HomePC.pem
/app/database/Team4KP.pem
/app/data/__pycache__
/app/data/dbConfig.py
app/database/__pycache__/databaseUtil.cpython-310.pyc
app/database/__pycache__/dbConfig.cpython-310.pyc
app/database/dbConfig.py
