
/* Sidebar.css */
  .sidebar {
    width: 200px; 
    height: 100vh; 
    background-color: #f8f9fa; 
    position: fixed; 
    top: 0; 
    left: 0; 
    overflow-y: auto; 
    padding-top: 2px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;

  }

  .sidebar .white-button {
    color: #000000;
    background-color: #d7d7d7; /* Remove background color */
    border: none; /* Remove border */
  }

  .sidebar .white-button:hover {
    color: #000000;
    background-color: #30303093;
  }
  .sidebar .bottom-buttons {
    margin-top: 45vh; /* Push the buttons to the bottom */
    
  }
  .sidebar .white-button.person {
    margin-right: 50px; 
    margin-left: 20px;
  }
  
  .sidebar .nav-link {
    
    text-align: center;
    padding: 30px 30px; 
    margin: 4px 0; 
    border-radius: 5px; 
    border-bottom: 1px solid #ccc;
}
  
  .sidebar .nav-link:hover {
    color: #f0f0f0;
    background-color: #13056b93;
  }

  .sidebar .nav-link.active {
    color: #f0f0f0;
    background-color: #13056be0;
  }